<%= link_to :back do %>
  <button>戻る</button>
<% end %>
<br>
<h1>先生情報</h1>
<%= link_to 'プロフィール編集', teacher_profile_edit_path %>
<%= link_to '試験作成', new_exam_path %>
<h3>苗字</h3>
<%= @teacher.first_name %>
<h3>名前</h3>
<%= @teacher.last_name %>
<h3>苗字（フリガナ）</h3>
<%= @teacher.first_name_kana%>
<h3>名前（フリガナ）</h3>
<%= @teacher.last_name_kana %>
<h3>メールアドレス</h3>
<%= @teacher.email %>
<h3>担当生徒</h3>
<% @teacher.students.each do |student| %>
  <div class="list">
    <%= student.school_year.name %>
    <%= link_to student.first_name, "/teachers/#{current_teacher.id}/student_details/#{student.id}" %>
  </div>
<% end %>

