<%= link_to :back do %>
  <button>戻る</button>
<% end %>
<br>
<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <h3>苗字</h3>
      <%= result.first_name %>
      <h3>名前</h3>
      <%= result.last_name %>
      <h3>苗字（フリガナ）</h3>
      <%= result.first_name_kana%>
      <h3>名前（フリガナ）</h3>
      <%= result.last_name_kana %>
      <h3>メールアドレス</h3>
      <%= result.email %>
      <h3>苗字</h3>
      <%= result.school_year.name %>
      <h3>名前</h3>
      <%= result.club.name %>
      <h3>苗字（フリガナ）</h3>
      <%= result.purpose%>
      <h3>名前（フリガナ）</h3>
      <%= result.teacher.first_name %>
    </li>
  <% end %>
<% else %>
  該当する生徒はいませんでした
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>