<%= form_with(model: exam, local: true) do |f| %>
<% if exam.errors.any? %>
  <%= exam.errors.count %>件のエラー
  <% exam.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="exam-content">
  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_area :name, autofocus: true, autocomplete: "exam_name", required: true %>
    </div>

    <div id="unit_field">
      <%= f.label :unit_id %><br />
      <%= render partial: 'unit_form', locals: {units: Unit.roots, selected: exam.unit&.root&.id}%>
        <% if exam.unit&.parent %>
          <div>
            <%# 子カテゴリのフォーム %>
            <%= render partial: 'unit_form', locals: {units: exam.unit.parent.siblings, selected: exam.unit.parent.id }%>
            <div>
              <% if exam.unit %>
                <%# 孫カテゴリのフォーム %>
                <%= render partial: 'unit_form', locals: {units: exam.unit.siblings, selected: exam.unit.id }%>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>

    <div class="actions">
      <%= f.submit "create", data: { disable_with: '作成中...' } %>
    </div>
  <% end %>
</div>