<%= render "shared/header" %>
<%= link_to '試験作成', new_exam_path if teacher_signed_in? %>
<%= link_to "生徒検索へ", students_index_path%>



<%# 生徒の今日の予定を表示させる %>

<h2>試験一覧</h2>
<% @exams.each do |exam| %>
  <% if teacher_signed_in? %>
    <%= link_to "編集", edit_exam_path(exam) %>
    <%= link_to "削除", exam_path(exam), method: :delete, data: { disable_with: '削除中...' }, data: {confirm: "試験を削除しますか？"} %>
  <% end %>
  <%= link_to "問題一覧へ", exam_tests_path(exam) %>
  <br>
  <% if exam.record.present? %>
    <%= "この試験は#{exam.record.created_at.strftime("%Y年%m月%d日")}に実施しました"%>
    結果：<%= exam.record.score %>点
    <br>
    <%= link_to "点数の編集", edit_exam_record_path(exam.id, exam.record.id) %>
    <%= link_to "点数の削除", exam_record_path(exam.id, exam.record.id), method: :delete, data: { disable_with: '削除中...' }, data: {confirm: "点数を削除しますか？"} %>
  <% else %>
    <%= link_to "試験結果を入力する", new_exam_record_path(exam) %>
  <% end %>
  <br>
  試験名：<%= exam.name %>
  <br>
  学年・教科：<%= exam.unit.root.name%>
  <br>
  大単元：<%= exam.unit.parent.name%>
  <br>
  小単元：<%= exam.unit.name%>
  <br>
  <br>
<% end %>