<%= link_to :root do %>
  <button>戻る</button>
<% end %>
<h3>試験名</h3>
<%= @exam.name %>
<br>
<h3>この試験を受けた生徒一覧</h3>
<% @exam.records.each do |record|%>
  <%= record.student.school_year.name %>
  <%= record.student.first_name %>
  <%= record.score %>点
  <br>
<% end %> 