<%= form_with model: @test, url: exam_test_path(@exam.id), local: true do |f| %>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_area :question, autofocus: true, autocomplete: "question_name" %>
  </div>

  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_area :answer, autofocus: true, autocomplete: "answer_name" %>
  </div>

  <div class="actions">
    <%= f.submit "update", data: { disable_with: '更新中...' } %>
  </div>
<% end %>